@import "common.scss";


.Footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .Blank {
        height: 10rem;
        background-color: $bgColor;
        width: 100%;

    }

    .OnlyFooter {
        width: 100%;
        background-color: $bgColor2;
        color: white;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        gap: 5rem;


        .Column {
            display: flex;
            flex-direction: column;


            a {
                color: white;
            }

        }
    }







}