@import "common.scss";

.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-color: $bgColor;
    color: white;



    .Content {
        margin-top: 5rem;

        .Settings {

            form {
                display: grid;
                grid-template-columns: 50rem 10rem 10rem;
                gap: 2rem;
                column-gap: 10rem;

                .Setting {
                    color: lightgray;
                    display: flex;
                    flex-direction: column;

                }
                Select{
                    height: 3rem;
                    border-radius: 0.25rem;
                }

                input[type="Submit"]{
                    font-size: 1.2rem;
                }

                button{
                    height: 4rem;
                }
            }

        }

    }
}