@import "common.scss";

.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-color: $bgColor;
    color: white;

    .Content {
        margin-top: 5rem;


        .Title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .Testmode{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                margin-right: 1rem;
            }
        }

        .Settings {

            form {
                display: grid;
                gap: 2rem;
                column-gap: 5rem;

                &.Prod {
                    grid-template-columns: 50rem 10rem
                }

                &.Test {
                    grid-template-columns: 50rem 10rem 10rem;

                }

                .Setting {
                    color: lightgray;
                    display: flex;
                    flex-direction: column;

                }

                Select {
                    height: 3rem;
                    border-radius: 0.25rem;
                }

                input[type="Submit"] {
                    font-size: 1.2rem;
                }

                button {
                    height: 4rem;
                }
            }

        }

    }
}

@media (max-width: 1280px) {
    .MainPage {
        .Content {
            margin: 5rem 1rem 0 1rem;

            .Settings {
                form {
                    gap: 1rem;


                    &.Test, &.Prod {
                        grid-template-columns: 70% 25%;

                    }
                }


            }
        }
    }
}